torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchsummary==1.5.1
torchvision==0.13.1+cu113
tornado==6.3.1
tqdm==4.65.0
pandas==1.5.3
numpy==1.23.5
lightgbm==3.3.5
scikit-image==0.20.0
pandas-plink==2.3.1
scikit-learn==1.6.1